#Net "clk" LOC="B8" | IOSTANDARD = LVCMOS33;

Net "a[0]" LOC="E10" | IOSTANDARD = LVCMOS33;
Net "a[1]" LOC="D10" | IOSTANDARD = LVCMOS33;
Net "a[2]" LOC="E9"  | IOSTANDARD = LVCMOS33;
Net "a[3]" LOC="A9" | IOSTANDARD = LVCMOS33;

Net "b[0]" LOC="D9" | IOSTANDARD = LVCMOS33;
Net "b[1]" LOC="E8" | IOSTANDARD = LVCMOS33;
Net "b[2]" LOC="C8" | IOSTANDARD = LVCMOS33;
Net "b[3]" LOC="D8" | IOSTANDARD = LVCMOS33;

Net "result[0]" LOC="F9" | IOSTANDARD = LVCMOS33;
Net "result[1]" LOC="A7" | IOSTANDARD = LVCMOS33;
Net "result[2]" LOC="D7" | IOSTANDARD = LVCMOS33;
Net "result[3]" LOC="E7" | IOSTANDARD = LVCMOS33;

#DEBUGGING WITH LEDs
Net "LED[0]" LOC="C11" | IOSTANDARD = LVCMOS33;
Net "LED[1]" LOC="D11" | IOSTANDARD = LVCMOS33;
Net "LED[2]" LOC="B11" | IOSTANDARD = LVCMOS33;
Net "LED[3]" LOC="A12" | IOSTANDARD = LVCMOS33;

Net "_function[0]" LOC="F8" | IOSTANDARD = LVCMOS33;
Net "_function[1]" LOC="C6" | IOSTANDARD = LVCMOS33;
Net "_function[2]" LOC="D6" | IOSTANDARD = LVCMOS33;