Net "we" LOC="A10" | IOSTANDARD = LVCMOS33;
Net "clk" LOC="E11" | IOSTANDARD = LVCMOS33;

Net "address[0]" LOC="E10" | IOSTANDARD = LVCMOS33;
Net "address[1]" LOC="D10" | IOSTANDARD = LVCMOS33;
Net "address[2]" LOC="E9"  | IOSTANDARD = LVCMOS33;
Net "address[3]" LOC="A9" | IOSTANDARD = LVCMOS33;

Net "data_in[0]" LOC="D9" | IOSTANDARD = LVCMOS33;
Net "data_in[1]" LOC="E8" | IOSTANDARD = LVCMOS33;
Net "data_in[2]" LOC="C8" | IOSTANDARD = LVCMOS33;
Net "data_in[3]" LOC="D8" | IOSTANDARD = LVCMOS33;

Net "data_out[0]" LOC="F9" | IOSTANDARD = LVCMOS33;
Net "data_out[1]" LOC="A7" | IOSTANDARD = LVCMOS33;
Net "data_out[2]" LOC="D7" | IOSTANDARD = LVCMOS33;
Net "data_out[3]" LOC="E7" | IOSTANDARD = LVCMOS33;